.card-shine {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}



.card-shine::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -45%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.3) 50%,
    transparent 100%
  );
  transform: rotate(25deg);
  transition: all 0.6s ease-in-out;
  z-index: 10;
}

.card-shine:hover::before {
  top: 100%;
  left: 100%;
}
